<div class="columns">
  <div class="column is-3">
    <h2 class="subtitle">Bookmarks</h2>
    <tm-poster *ngFor="let bookmark of getBookmarks()"
               [show]="bookmark"></tm-poster>
  </div>

  <div class="column">
    <h2 class="subtitle">Find shows</h2>
    <form class="field has-addons">
      <div class="control">
        <input type="search" name="query" class="input" [(ngModel)]="query">
      </div>
      <div class="control">
        <button class="button is-primary" (click)="search(query)">search</button>
      </div>
    </form>

    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let show of shows">
        <tm-poster [show]="show"></tm-poster>
        <button class="button is-primary is-small" (click)="saveBookmark(show)">save</button>
      </div>
    </div>
  </div>
</div>
